@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format(woff2);
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format(woff2);
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    min-width: 1200px;
    background: #f2f2f2;
    color: #000000;
    margin: 0;
}

/* Header */


.main-header {
    background-color: #ffffff;
    color: #000000;
}

.navigation-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    text-decoration: none;
    color: #000000;
}

.custom-link-search {
    background-image: url("../images/search-by-site.svg");
    background-repeat: no-repeat;
}


.custom-link-favorite {
    background-image: url("../images/favorite.svg");
    background-repeat: no-repeat;
}

.custom-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 9px 15px 8px 15px;
    background: #756157;
    border-radius: 4px;
    color: #ffffff;
}


/* Main */


.presentation-picture {
    background-image: url("../images/background/index-background.jpg");
    background-repeat: no-repeat;
    background-color: #ffffff;
    color: #000000;
}

.presentation-picture-welcome {
    margin: 51px 371px 82px 371px;
}

.divider-image {
    margin-bottom: 61px;
}

.presentation-text-sedona {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 31px;
}

.presentation-text-reason {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    margin-bottom: 90px;
}

/* Main advantages */

.advantages-list {
    margin: 0;
    list-style-type: none;
}

.real-town {
    width: 400px;
    height: 384px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    background: #82b3d3;
}

.real-town-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding-top: 92px;
    margin: 0;
    margin-bottom: 30px;
}

.real-town-humber {
    margin: 0;
    margin-bottom: 30px;
    color: #ffffff;
}

.advantages-inner-item {
    width: 400px;
    height: 384px;
    background: rgba(131, 179, 211, 0.12);
    color: #000000;
    text-align: center;
    list-style-type: none;
}


.adfooter-socialvantages-housing {
    background-image: url("../images/icon-house.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.advantages-food {
    background-image: url("../images/food-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.advantages-souvenirs {
    background-image: url("../images/icon-souvenirs.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.inner-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.inner-description {
    font-size: 18px;
    line-height: 21px;
}

.devil-bridge {
    width: 400px;
    height: 384px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    background: #82b3d3;
}


.devil-bridge-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding-top: 92px;
    margin: 0;
    margin-bottom: 30px;
}


.devil-bridge-humber {
    margin: 0;
    margin-bottom: 30px;
    color: #ffffff;
}

.advantages-road {
    background: rgba(131, 179, 211, 0.2);
    color: #000000;
}

.inner-devil-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
    padding: 103px 0 0 0;
}

.advantages-humber {
    margin: 0;
    margin-bottom: 30px;
}


/* Main hotel search */

.hotel-search {
    background: #ffffff;
    color: #000000;
    text-align: center;
    padding-bottom: 105px;
}

.hotel-search-question {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;

    padding-top: 91px;
    margin: 0;
    margin-bottom: 29px;
}

.hotel-search-info {
    font-size: 22px;
    line-height: 26px;
    color: #000000;

    margin: 0;
    margin-bottom: 56px;
}

.hotel-search-link {
    display: inline-block;

    width: 544px;
    height: 36px;

    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background: #756157;
    border-radius: 4px;
    padding: 12px 15px;
}

/* Main subscription */

.subscription {
    background-image: url("../images/background/mailing-background.jpg");
    background-repeat: no-repeat;
    background-color: #ffffff;
    color: #000000;
    padding-top: 94px;
    text-align: center;
    color: #ffffff;
}

.mailing {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;

    margin: 0;
    margin-bottom: 29px;
}

.mailing-description {
    font-size: 22px;
    line-height: 26px;

    margin: 0;
    margin-bottom: 46px;
}

.subscription-form {
    align-items: center;
}

.mailing-email {
    width: 600px;
    height: 60px;
    border-radius: 10px 0 0 10px;
    border: none;
    margin-bottom: 94px;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    padding: 0;
    padding-left: 22px;
}

.mailing-button {
    width: 200px;
    height: 60px;
    border: none;
    padding: 12px 15px;
    border-radius: 0 10px 10px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #82b3d3;
}


/* Main footer */


.footer-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    color: #000000;
}

.footer-social-vk {
    background-image: url("../images/social-network-vkontakte.svg");
    background-repeat: no-repeat;
}

.footer-social-telegram {
    background-image: url("../images/telegram-social-network.svg");
    background-repeat: no-repeat;
}


.footer-social-youtube {
    background-image: url("../images/youtube-social-network.svg");
    background-repeat: no-repeat;
}


.social-phone {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
}

.htmlacademy-link {
    display: inline-block;
    color: #000000;
}


/* Catalog filter-content */


.main-inner {
    background-color: #ffffff;
    color: #000000;
}


.filter-content {
    background: url("../images/background/catalog-background.jpg");
    background-repeat: no-repeat;
    background-color: #000000;
    color: #ffffff;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
    padding-top: 35px;
    padding-left: 70px;
    margin: 0;
    margin-bottom: 10px;
}

.inner-header {
    margin-bottom: 40px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    padding-left: 70px;
}


.breadcrumbs-item {
    display: inline-block;
}


.breadcrumbs-link {
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
}

.item-mein {
    background-image: url("../images/breadcrumbs-icon-house.svg");
    background-repeat: no-repeat;
}

.item-arrow {
    background-image: url("../images/right-arrow-breadcrumbs.svg");
    background-repeat: no-repeat;
}

.infrastructure {
    display: flex;
    margin-left: 70px;
    align-items: flex-start;
    justify-content: space-between;
}


.filter-group {
    padding: 0;
    margin: 0;
    border: none;
}


.filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 30px;
}

.control-input {
    margin-bottom: 15px;
}

.filter-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.control-input {
    font-family: 'PT Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}

.apply-filter {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #82b3d3;
    border-radius: 4px;
    padding: 14px 15px;
    border: none;
}

.button-reset {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: inherit;
    border: none;
}


/* section catalog */

.catalog {
    margin: 0;
    padding: 0;
}


.search-result {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.icon-table {
    background-image: url("../images/icon-table.svg");
    background-repeat: no-repeat;
}

.icon-slideshow {
    background-image: url("../images/icon-slideshow.svg");
    background-repeat: no-repeat;
}

.icon-list {
    background-image: url("../images/icon-list.svg");
    background-repeat: no-repeat;
}

.catalog-item {
    width: 340px;
}

.catalog-hotel {
    margin: 20px 20px 16px 20px;
}

.catalog-title {
    margin: 0;
    margin-bottom: 16px;
}

.catalog-info {
    margin-bottom: 16px;
}

.catalog-type {
    margin-right: 20px;
}

.catalog-price-link {
    margin-bottom: 16px;
}

.price-link-info {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 8px 15px;
    background: #756157;
    border-radius: 4px;
}

.price-link-favourites {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 8px 15px;
    background: #82b3d3;
    border-radius: 4px;
}

.added-favorites {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 8px 15px;
    background: #7db54f;
    border-radius: 4px;
}

.rating {
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 9px 22px 8px 23px;
    background: #f2f2f2;
    border-radius: 4px;
}

.catalog-item {
    list-style-type: none;
}



/* Catalog pagination */


.pagination {
    border-top: 1px solid #e6e6e6;
    padding-top: 30px;
}


.pagination-list {
    padding-left: 0;
    margin: 0;
}

.pagination-item {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #82b3d3;
    background: #82b3d3;
    border-radius: 4px;
    text-align: center;
}


.pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-decoration: none;
    color: #ffffff;
}

.subscription-catalog {
    color: #000000;
    padding-top: 94px;
    text-align: center;
}

.to-sign-catalog {
    background-color: #f2f2f2;
}