@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  min-width: 1200px;
  background: #f2f2f2;
  color: #000000;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */


.main-header {
  display: flex;
  background-color: #ffffff;
  padding: 0 70px;
}

.link-logo {
  margin-right: 30px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;

}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  padding: 20px 17px;
}


.navigation-link {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

.custom-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 264px;
}


.custom-link-search {
  display: inline-block;
  width: 42px;
  height: 66px;
  background-position: center;
  background-image: url("../images/search-by-site.svg");
  background-repeat: no-repeat;
  margin-right: 2px;
}


.custom-link-favorite {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 66px;
  background-position: center;
  background-image: url("../images/favorite.svg");
  background-repeat: no-repeat;
  margin-right: 18px;
}

.custom-favorite-count {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(125, 181, 79, 1);
  top: 13px;
  right: -2px;
  border-radius: 50%;
}

.custom-favorite-count::after {
  position: absolute;
  content: "12";
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  top: 3px;
  left: 5px;
}

.custom-link {
  display: inline-block;
  width: 130px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 9px 15px 8px;
  border-radius: 4px;
  color: #ffffff;
}

.custom-link:link {
  background-color: #756157;
}

.custom-link:focus {
  background-color: #615048;
  outline: none;
}

.custom-link:hover {
  background-color: #615048;
}

.custom-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

/* Main */


.presentation-picture {
  position: relative;
  background-image: url("../images/background/index-background.jpg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: cover;
  color: #000000;
}

.presentation-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.presentation-picture-welcome {
  margin: 51px 371px 87px 371px;
}

.divider-image {
  margin-bottom: 61px;
}

.presentation-text {
  background-color: #ffffff;
}

.presentation-text-sedona {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
  padding-top: 63px;
}

.presentation-text-reason {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding-bottom: 90px;
}

/* Main advantages */

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-nested-list {
  display: flex;
  padding: 0;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

.real-town {
  width: 400px;
  height: 384px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background: #82b3d3;
}


.wrapper-real-town {
  margin: 92px 85px;
}

.real-town-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.real-town-humber {
  margin: 0;
  margin-bottom: 30px;
  color: #ffffff;
}

.real-town-description {
  margin: 0;
}

.advantages-inner-item {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 223px;
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
  text-align: center;
  align-items: center;
  list-style-type: none;
  padding: 80px 85px 81px 85px;
}

.food-background {
  background-color: #ffffff;
}


.advantages-housing {
  background-repeat: no-repeat;
  order: -1;
  margin-bottom: 30px;
}

.advantages-food {
  background-repeat: no-repeat;
  order: -1;
  margin-bottom: 31px;
}

.advantages-souvenirs {
  background-repeat: no-repeat;
  order: -1;
  margin-bottom: 28px;
}

.inner-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.inner-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.devil-bridge {
  width: 400px;
  height: 384px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background: #82b3d3;
}

.wrapper-devil-bridge {
  margin: 92px 85px;
}


.devil-bridge-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}


.devil-bridge-humber {
  margin: 0;
  margin-bottom: 30px;
  color: #ffffff;
}

.devil-bridge-description {
  margin: 0;
}

.advantages-nested-item {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 179px;
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
  text-align: center;
  align-items: center;
  list-style-type: none;
  padding: 103px 85px 102px 85px;
}

.advantages-road {
  background: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.inner-devil-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-humber {
  margin: 0;
  margin-bottom: 30px;
}

.small-area-description {
  margin: 0;
}

.beautiful-road-description {
  margin: 0;
}

.few-tourists-description {
  margin: 0;
}


/* Main hotel search */

.hotel-search {
  background: #ffffff;
  color: #000000;
  text-align: center;
  padding-bottom: 105px;
}

.hotel-search-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

  padding-top: 91px;
  margin: 0;
  margin-bottom: 29px;
}

.hotel-search-info {
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  margin: 0;
  margin-bottom: 56px;
}

.hotel-search-link {
  display: inline-block;
  width: 544px;
  height: 36px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  padding: 12px 15px;
}


.hotel-search-link:link {
  background: #756157;
}

.hotel-search-link:visited {
  background: #756157;
}

.hotel-search-link:focus {
  background: #615048;
}

.hotel-search-link:hover {
  background: #615048;
}

.hotel-search-link:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}


/* Main subscription */

.subscription {
  background-image: url("../images/background/mailing-background.jpg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  padding-top: 94px;
  text-align: center;
  color: #ffffff;
}

.mailing {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.mailing-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 46px;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.mailing-email {
  width: 600px;
  height: 20px;
  border-radius: 10px 0 0 10px;
  border: none;
  margin-bottom: 94px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding: 20px 0 20px 22px;
}

.mailing-button {
  width: 200px;
  height: 60px;
  padding: 12px 15px;
  border-radius: 0 10px 10px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background: #82b3d3;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.mailing-button:focus {
  background: #68a2c2;
  outline: none;
}

.mailing-button:hover {
  background: #68a2c2;
}

.mailing-button:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}


/* Main footer */

.main-footer {
  padding: 40px 70px 30px;
  background-color: #ffffff;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  color: #000000;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
  fill: #83b3d3;
}

.social-footer:focus {
  fill: #68a2c2;
  outline: none;
}

.social-footer:hover {
  fill: #68a2c2;
}

.social-footer:active {
  fill: rgba(104, 162, 202, 0.3);
}

.social-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}

.social-phone:hover {
  color: #756157;
}

.social-phone:focus {
  color: #756157;
}

.social-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  display: inline-block;
  width: 115px;
  height: 33px;
}

.htmlacademy-link:focus {
  fill: #756157;
}

.htmlacademy-link:hover {
  fill: #756157;
}

.htmlacademy-link:active {
  fill: rgba(117, 97, 87, 0.3);
}

/* Catalog filter-content */

.filter-content {
  padding: 35px 70px;
}

.main-inner {
  background-color: #ffffff;
  color: #000000;
}


.filter-content {
  background: url("../images/background/catalog-background.jpg");
  background-repeat: no-repeat;
  background-color: #000000;
  color: #ffffff;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 10px;
}

.inner-header {
  margin-bottom: 40px;
}

.breadcrumbs {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.breadcrumbs-item {
  display: inline-block;
  margin-right: 10px;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.item-mein {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 5px;
  fill: #ffffff;
}

.element-arrow {
  position: absolute;
  width: 6px;
  height: 8px;
  left: 20px;
  top: 8px;
  fill: #ffffff;
}

.infrastructure {
  display: flex;
}

.group-infrastructure {
  padding: 0;
  margin: 0;
  margin-right: 70px;
  border: none;
}

.group-accommodation {
  padding: 0;
  margin: 0;
  margin-right: 175px;
  border: none;
}

.group-price {
  padding: 0;
  border: none;
  margin: 0;
}

.catalog-filter-min::after {
  position: absolute;
  z-index: 2;
  content: "от";
  top: 12px;
  left: 110px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-max::after {
  position: absolute;
  content: "до";
  top: 12px;
  right: 14px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.3);
}

.input-min-prise {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 12px 19px;
  width: 50%;
  background-color: #3f5e72;
  border: 2px solid #ffffff;
  border-radius: 4px 0 0 4px;
  margin-right: -1px;
}

.input-min-prise::-webkit-input-placeholder {
  color: #ffffff;
}

.input-min-prise:focus {
  outline: 3px solid rgba(129, 179, 210, 1);
  border-radius: 4px 0 0 4px;
  box-shadow: inset 0 0 0 3px rgba(129, 179, 210, 1);
  color: #ffffff;
  z-index: 2;
}

.input-min-prise:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px 0 0 4px;
  z-index: 2;
}

.input-min-prise:active {
  border-radius: 4px 0 0 4px;
  background-color: rgba(117, 97, 87, 1);
  border: 2px solid #ffffff;
  outline: none;
  box-shadow: none;
}

.input-max-prise {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 50%;
  padding: 12px 19px;
  background-color: #3f5e72;
  border: 2px solid #ffffff;
  border-radius: 0 4px 4px 0;
  margin-left: -1px;
}

.input-max-prise::-webkit-input-placeholder {
  color: #ffffff;
}

.input-max-prise:focus {
  outline: 3px solid rgba(129, 179, 210, 1);
  border-radius: 0 4px 4px 0;
  box-shadow: inset 0 0 0 3px rgba(129, 179, 210, 1);
  color: #ffffff;
}

.input-max-prise:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 0 4px 4px 0;
  z-index: 0;
}

.input-max-prise:active {
  border-radius: 0 4px 4px 0;
  background-color: rgba(117, 97, 87, 1);
  border: 2px solid #ffffff;
  outline: none;
  box-shadow: none;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.control {
  position: relative;
  display: block;
}


.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1px;
  left: 1px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control:focus .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid #83b3d3;
}

.control:hover .control-mark {
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  content: "";
  background-image: url("../images/infrastructure-select-check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}


.control-mark-type {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1px;
  left: 0;
  border-radius: 50%;
  background-color: #ffffff;
}

.control:focus .control-mark-type {
  border: 3px solid #83b3d3;
}

.control:hover .control-mark-type {
  cursor: pointer;
}

.control-input[type="radio"]:checked + .control-mark-type::after {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  content: "";
  background-image: url("../images/infrastructure-select-circle-mark.svg");
  background-repeat: no-repeat;
  background-position: center;

}


.filter-item {
  margin-bottom: 16px;
}

.filter-item:last-child {
  margin: 0;
}

.control-label {
  margin-left: 39px;
}

.filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.control-input {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.price-selection-title {
  padding: 0;
  margin-bottom: 34px;
}

.range-wrapper-inputs {
  position: relative;
  display: flex;
  align-items: center;
  width: 288px;
  margin-bottom: 32px;
}

.range-input {
  padding: 0;
  border: none;
  background-color: inherit;
  color: #ffffff;
  width: 84px;
  outline: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  left: 10px;
  width: 228px;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.range-toggle:focus {
  background-color: #ffffff;
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.range-toggle:active {
  background-color: #ffffff;
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.input-min-prise::-webkit-outer-spin-button,
.input-max-prise::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.infrastructure-button {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.apply-filter {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #82b3d3;
  border-radius: 4px;
  padding: 14px 15px;
  border: none;
  margin-bottom: 20px;
  margin-top: 60px;
}

.apply-filter:visited {
  background: #82b3d3;
}

.apply-filter:focus {
  background: #68a2c2;
  cursor: pointer;
}

.apply-filter:hover {
  background: #68a2ca;
  cursor: pointer;
}

.apply-filter:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.button-reset {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: inherit;
  border: none;
}

.button-reset:focus {
  outline: 3px solid #82b3d3;
  border-radius: 4px;
  cursor: pointer;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
  cursor: pointer;
}


/* section catalog */

.sort-catalog {
  display: flex;
  align-items: center;
}

.search-result {
  margin: 0 191px 0 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-catalog {
  margin-right: 78px;
}

.select-catalog-price {
  padding: 14px 98px 14px 20px;
  border: 2px solid #f2f2f2;
  border-radius: 4px;
}

.view {
  display: flex;
}

.view-icon {
  display: flex;
  flex-wrap: wrap;
  padding: 17px 16px;
  border-radius: 4px;
  background-color: #ffffff;
  margin-right: 8px;
  border: 2px solid #f2f2f2;
}

.view-icon:last-child {
  margin-right: 0;
}

.view-icon:hover {
  border: 2px solid #000000;
  outline: none;
  cursor: pointer;
}

.view-icon:focus {
  border: 2px solid #68a2c2;
  outline: none;
  cursor: pointer;
}

.view-icon:active {
  border: 2px solid #000000;
  outline: none;
  cursor: pointer;
}

/* section catalog-hotel */

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0 auto;
  padding: 0 71px 0 73px;
  gap: 0 18px;
}

.catalog-item {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "image image"
    "title title"
    "type price"
    "link-info link-favourites"
    "stars rating";
  padding: 20px;
}

.catalog-hotel {
  grid-area: image;
}

.catalog-title {
  grid-area: title;
  margin: 0;
}

.catalog-type {
  grid-area: type;
  align-self: center;
}

.catalog-price {
  grid-area: price;
  align-self: center;
}

.price-link-info {
  grid-area: link-info;
}

.price-link-favourites {
  grid-area: link-favourites;
}

.number-stars-result {
  grid-area: stars;
}

.rating {
  grid-area: rating;
}

.price-link-info {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px 8px;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  align-self: center;
}

.price-link-info:focus {
  background: #615048;
}

.price-link-info:hover {
  background: #615048;
}

.price-link-info:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.price-link-favourites {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 9px 15px 8px;
  border-radius: 4px;
  align-self: center;
  font-size: 16px;
}

.price-link-favourites:focus {
  background: #68a2c2;
}

.price-link-favourites:hover {
  background: #68a2c2;
}

.price-link-favourites:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.added-favorites {
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  padding: 9px 15px 8px;
  background-color: #7db54f;
  text-align: center;
  align-self: center;
}

.added-favorites:focus {
  background: #6c9e42;
}

.added-favorites:hover {
  background: #6c9e42;
}

.added-favorites:active {
  background: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  text-align: center;
}

.number-stars-result {
  align-self: center;
}

/* Catalog pagination */

.catalog {
  padding: 55px 71px 56px 72px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e6e6e6;
  padding: 30px 71px 25px 73px;
}

.pagination-list {
  padding-left: 0;
  margin: 0;
}

.pagination-item {
  display: inline-block;
  margin-right: 8px;
  background: #82b3d3;
  border-radius: 4px;
  text-align: center;
  width: 12px;
  height: 36px;
  padding: 12px 24px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.sorting-found {
  position: relative;
  display: flex;
  align-items: center;
  width: 386px;
  margin-left: auto;
}

.select-control {
  width: 160px;
  padding: 14px 98px 14px 20px;
  border: 2px solid #f2f2f2;
  border-radius: 4px;
  background-image: url("../images/down-arrow-breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select-number {
  padding: 21px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
}

.pagination-link:focus {
  background: #68a2c2;
}

.pagination-link:hover {
  background: #68a2c2;
}

.pagination-link:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.hotels-page {
  margin-right: 51px;
}

.subscription-catalog {
  color: #000000;
  padding-top: 94px;
  text-align: center;
}

.to-sign-catalog {
  background-color: #f2f2f2;
}

/*Modal contaiher */

.modal-container {
  display: flex;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-reservation {
  width: 575px;
  height: 421px;
}


.vacationers label {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 18px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;
  padding: 0;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  outline: none;
  fill: rgba(0, 0, 0, 0.3);
}

.modal-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 63px;
}

.modal-search {
  width: 575px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  border: 0;
  padding: 12px 26px;
  background-color: #83b3d3;
  cursor: pointer;
}

.modal-search:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.modal-search:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.modal-search:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}


.group-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  color: rgba(0, 0, 0, 0.6);
}

.group-input:hover {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.group-input:active {
  font-family: "PT Sans", sans-serif;
  outline: 2px solid #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.field-group {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
}

.style-lebel {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.group-input {
  border: none;
  background-color: #f2f2f2;
  width: 382px;
  padding: 15px 19px 14px 19px;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}

.calendar-arrival {
  position: absolute;
  top: 18px;
  right: 19px;
  fill: rgba(0, 0, 0, 0.3);
}

.text-arrival {
  position: absolute;
  right: 211px;
  top: 219px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ff5757;
  margin: 0;
}

.text-departure {
  position: absolute;
  right: 161px;
  bottom: 231px;
  font-family: "Pt Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  margin: 0;
}

.vacationers {
  display: flex;
  margin-bottom: 52px;
  justify-content: space-between;
}

.field-adults {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
}

.field-children {
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
}

.small-children {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 0;
  right: 46px;
}

.tooltip-toggle {
  position: absolute;
  top: 2px;
  left: 50px;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: #83b3d3;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.tooltip-toggle:hover {
  background-color: #68a2c2;
}

.tooltip-icon {
  fill: #ffffff;
}

.tooltip-text {
  position: absolute;
  top: 37px;
  left: -65px;
  background-color: #000000;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 216px;
  color: #ffffff;
  display: block;
  padding: 15px 18px 18px 22px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  z-index: 1;
  display: none;
}

.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-toggle:hover + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  background-image: url("../images/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

.adults {
  display: inline-block;
  width: 95px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  border: none;
  padding: 15px 19px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.adults:focus {
  outline: none;
}

.adults-plus {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 14px;
  right: 15px;
  fill: rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  padding: 0;
  border: none;
  outline: none;
}

.adults-plus:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
  fill: #000000;
}

.adults-plus:hover {
  fill: #000000;
  cursor: pointer;
}

.adults-plus:active {
  border: none;
  fill: rgba(0, 0, 0, 0.2);
}

.adults-minus {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 14px;
  right: 93px;
  fill: rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  padding: 0;
  border: none;
  outline: none;
}

.adults-minus:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
  fill: #000000;
}

.adults-minus:hover {
  fill: #000000;
  cursor: pointer;
}

.adults-minus:active {
  fill: rgba(0, 0, 0, 0.2);
  border: none;
}

.children {
  display: inline-block;
  width: 95px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  margin-left: 43px;
  border: none;
  outline: none;
  padding: 15px 19px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.children-plus {
  width: 25px;
  height: 25px;
  background-color: #f2f2f2;
  padding: 0;
  position: absolute;
  top: 14px;
  right: 16px;
  fill: rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
}

.children-plus:focus {
  border: 3px solid #83b3d3;
  fill: #000000;
  border-radius: 4px;

}

.piple {
  display: flex;
  justify-content: center;
  align-items: center;
}

.children-plus:hover {
  fill: #000000;
  cursor: pointer;
}

.children-plus:active {
  fill: rgba(0, 0, 0, 0.2);
  border: none;
}

.children-minus {
  width: 25px;
  height: 25px;
  background-color: #f2f2f2;
  padding: 0;
  border: none;
  outline: none;
  position: absolute;
  top: 14px;
  right: 96px;
  fill: rgba(0, 0, 0, 0.1);
}

.children-minus:focus {
  border: 3px solid #83b3d3;
  fill: #000000;
  border-radius: 4px;

}

.children-minus:hover {
  fill: #000000;
  cursor: pointer;
}

.children-minus:active {
  fill: rgba(0, 0, 0, 0.2);
  border: none;
}


.info:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.parents {
  margin-right: 60px;
}

.info-icon {
  position: absolute;
  top: 6px;
  left: 11px;
  fill: #ffffff;
}


.navigation-link-current::after {
  position: absolute;
  height: 2px;
  background-color: #756257;
  bottom: -20px;
  left: 0;
  right: 0;
  content: "";
}
